@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/bg_01.jpg");
}

.bg-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/bg_02.jpg");
}

.bg-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/bg_03.jpg");
}

.bg-clients {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/bg_04.png");
}

@layer components {
  .main-container {
    @apply container flex justify-center items-center flex-col h-screen font-primary overflow-auto mx-auto;
  }
}
